# Use Only BOW  tech.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv("D:\\Downloadss\\kaggle data\\quora similar ques. task data\\train.csv")

In [10]:
df.shape

(404290, 6)

In [11]:
new_df = df.sample(30000)

In [12]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [13]:
new_df.duplicated().sum()

0

In [14]:
quest_newdf= new_df[['question1','question2']]

In [15]:
quest_newdf.head()

,question1,question2
57225,Which is the best site for fb status?,What is the best status on Facebook?
174790,How different are the driving laws in each sta...,At what age is it legal to get a tattoo in the...
348416,How should I improve my performance?,How can I improve the performance of my server?
201092,Package stuck for 5 months in New York ISC (US...,Does USPS deliver mail and packages to PO Boxes?
159157,How can I tell the difference between button-u...,What's the best way to hide an untucked shirt ...

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
# mearge texts 

question = list(quest_newdf['question1']) + list(quest_newdf['question2'])

In [18]:
len(question)

60000

In [19]:
cv = CountVectorizer(max_features = 3000)
q1_arr,q2_arr = np.vsplit(cv.fit_transform(question).toarray(),2)
# yaha hamne total 60000 question ko bich se(vertical) split karke 30000-30000 ke do part bna lie

In [20]:
q1_arr.shape

(30000, 3000)

In [21]:
q2_arr.shape

(30000, 3000)

In [22]:
temp_df1 = pd.DataFrame(q1_arr, index = quest_newdf.index)
temp_df2 = pd.DataFrame(q2_arr, index =quest_newdf.index)
temp_df = pd.concat([temp_df1,temp_df2],axis = 1)

In [23]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [24]:
print(temp_df1.shape)
print(temp_df2.shape)
temp_df.shape

(30000, 3000)
(30000, 3000)

(30000, 6001)

In [25]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
57225,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174790,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
348416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195863,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
350620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264442,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test , y_train , y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=42)

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7386666666666667