In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("D:\\User_in_D\\jupytr_notebooks\\Downloads\\all_csv files\\IMDB Dataset.csv")

In [10]:
df = df[:10000]

In [11]:
df.shape

(10000, 2)

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df['review'][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [12]:
df['sentiment'].value_counts()

sentiment
positive    5028
negative    4972
Name: count, dtype: int64

In [13]:
df.duplicated().sum()

17

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.shape

(9983, 2)

In [17]:
df['sentiment'].value_counts()

sentiment
positive    5023
negative    4960
Name: count, dtype: int64

In [39]:
df['review'] = df['review'].apply(lambda s: s.lower())

In [47]:
# now we will remove HTML tags

In [48]:
import re
def revm_html(x):
    clean_txt = re.sub(re.compile('<.*?>') ,'' ,x)
    return clean_txt

In [49]:
df['review'] = df['review'].apply(revm_html)

In [50]:
df['review']

0       one reviewers mentioned watching 1 oz episode ...
1       a wonderful little production. the filming tec...
2       i thought wonderful way spend time hot summer ...
3       basically there's family little boy (jake) thi...
4       petter mattei's "love time money" visually stu...
                              ...
9995    fun, entertaining movie wwii german spy (julie...
9996    give break. how anyone say "good hockey movie"...
9997    this movie bad movie. but watching endless ser...
9998    this movie probably made entertain middle scho...
9999    smashing film film-making. shows intense stran...
Name: review, Length: 9983, dtype: object

In [18]:
from nltk.corpus import stopwords

In [23]:
len(stopwords.words('english'))

179

In [24]:
sw_list = stopwords.words('english')

In [52]:
df['review'] = df['review'].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [53]:
df['review']

0       one reviewers mentioned watching 1 oz episode ...
1       wonderful little production. filming technique...
2       thought wonderful way spend time hot summer we...
3       basically there's family little boy (jake) thi...
4       petter mattei's "love time money" visually stu...
                              ...
9995    fun, entertaining movie wwii german spy (julie...
9996    give break. anyone say "good hockey movie"? kn...
9997    movie bad movie. watching endless series bad h...
9998    movie probably made entertain middle school, e...
9999    smashing film film-making. shows intense stran...
Name: review, Length: 9983, dtype: object